* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
}

header {
    margin-top: 50px;
    margin-bottom: 50px;
}

a {
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
    color: rgba(152, 157, 156, 1);
    margin-left: 50px;
    margin-right: 50px;
}

a:hover {
    opacity: 0.4;
}

.button-header {
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
    width: 130px;
    height: 42px;
    background: rgba(102, 90, 225, 1);
    color: rgba(255, 255, 255, 1);
    margin-left: 40px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}

.button-header:active {
    opacity: 0.8;
}

.button-header:hover {
    opacity: 0.2;
}

.conteiner-1 {
    display: inline-block;
}

img {
    width: 568px;
    height: 500px;
    margin-top: 80px;
    margin-left: 100px;
}

.conteiner-2 {
    display: inline-block;
}

h1 {
    font-size: 100px;
    font-weight: 900;
    line-height: 100%;
    color: rgba(81, 81, 81, 1);
    margin-top: 50px;
    margin-left: 80px;
}


h2 {
    font-size: 58px;
    font-weight: 500;
    line-height: 100%;
    color: rgba(81, 81, 81, 1);
    margin-top: 50px;
    margin-left: 80px;
}

p {
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    width: 500px;
    height: 87px;
    color: rgba(132, 132, 132, 1);
    margin-top: 50px;
    margin-left: 80px;
}

.button-2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 100%;
    width: 239px;
    height: 64px;
    background: rgba(173, 255, 0, 1);
    color: rgba(0, 0, 0, 1);
    margin-top: 50px;
    margin-left: 80px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}

.button-2:hover {
    opacity: 0.4;
}

@media screen and (max-width:900px) {
    .conteiner-2 {
        width: 100%;
        height: 50%;
        margin: 0;
        padding: 0;
    }

    .conteiner-1 {
        display: block;
        width: 100%;
        height: auto;
        position: static;
    }

    img {
        position: static;
        width: 280px;
        height: 400px;
        margin-top: 120px;
    }

    header {
        display: none;
    }

    h1 {
        font-size: 50px;
        font-weight: 900;
        line-height: 100%;
        width: auto;
        color: black ;
        height: 52px;
        text-align: center;
    }

    p {
        display: none;
    }

    h2 {
        font-size: 30px;
        font-weight: 500;
        line-height: 100%;
        width: auto;
        height: 37px;
        text-align: center;
        color: rgba(81, 81, 81, 1);
    }

    .button-2 {
        font-size: 28px;
        font-weight: 700;
        line-height: 100%;
        width: 250px;
        text-align: center;
        color: rgba(0, 0, 0, 1);
        margin-left: 90px;
    }
}